.patlist {
    border: 2px solid;
    position: absolute;
    padding: 5px; 
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: all 150ms;
    list-style-type: none;
}

.patlist-title {
    border-bottom: 2px solid;
    padding: 5px; 
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%
}

.patDragContext{
    width: 100%;
    height:100%;  
    display: flex;
    justify-content: space-evenly;
}

.list-default {
    @include list-style(
        $body-color,
        $white,
        $gray-400,
    );
  }
  
.list-primary {
    @include list-style(
        $white, 
        $primary, 
        $primary
    );
}

.list-dark {
    @include list-style(
        $dark-yellow,
        $gray-900,
        $dark-yellow,
    );
}

.list-title-default {
    @include list-title-style(
        $body-color,
        $white,
        $gray-400,
        $font-family-base,
    );
}

.list-title-primary {
    @include list-title-style(
        $white,
        $primary,
        $white,
        $font-family-sans-serif,
    );
}

.list-title-dark {
    @include list-title-style(
        $dark-yellow,
        $gray-700,
        $dark-yellow,
        $font-family-sans-serif,
    );
}